.box1 {
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    margin-bottom: 10px;
}
.img {
    width: 200px;
}
.count {
    display: flex;
    justify-content: space-around;
}

.box2{
    width: fit-content;
}
.tittle {
    text-align: center;

    font-size: 20px;
}
.count2 {
    display: flex;
    justify-content:space-around;
    width: 200px;
}